
.row-e {
display: flex;
justify-content: space-evenly;
}
.pic {
height: 270px;
width: 270px;
border-radius: 50%;
background-color: yellow;
border: 8px solid rgb(203, 47, 101);
margin-top: 100px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.b-r {
display: flex;
}
.head {
width: 100%;
height: 100vh;
background-image: url("/static/bg.gif");
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

body {
    background-color: rgb(99, 18, 143);
}

.pic:hover {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

h2 {
    font-size: 5rem;
    font-weight: 800;
    color: #002057;
}

h2 span {
    font-size: 5rem;
    font-weight: 800;
    color: #ff7b00;
}

p {
    font-size: 2.5rem;
    color: #000;
    font-weight: 600;
    padding: 1rem 0;
}

.w {
    width: 360px;
    height: 60px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 28px;
    border: 3px solid rgb(249, 86, 27);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.w:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

#typed-cursor {
    color: rgb(223, 21, 10);
}

.work {
    display: grid;
}

.profile {
    height: 400px;
    width: 260px;
    border-radius: 16px;
    background-color: purple;
    filter: grayscale();
    border: 4px solid black;
    object-fit: fill;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.profile:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    height: 440px;
    width: 300px;
    border: none;
    filter: none;
}

.qq {
    background-color: blue;
    color: white;
    height: 60px;
    width: 320px;
    border: 3px solid blue;
    border-radius: 12px;
    font-size: 28px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.qq:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.ico {
    height: 60px;
    width: 60px;
}

.gr {
    display: grid;
    border-radius: 10px;
    padding: 10px;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    width: 800px;
    height: auto;
    background-color: rgb(77, 0, 118);
    border: 2px solid rgba(128, 128, 128, 0.354);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.box {
    height: 200px;
    width: 190px;
    background-color: rgb(58, 0, 128);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}
